{% extends "base.html" %}

{% block content %}
<h2 class="text-center">Consumir API da Amazon</h2>

<div class="form-group mt-4">
    <!-- Exibir mensagens de flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} text-center">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
</div>

<!-- Botão para consumir a API -->
<div class="text-center mt-4">
    <form method="POST">
        <button type="submit" class="btn btn-success">Consumir API Amazon</button>
    </form>
</div>

<!-- Link para visualizar os produtos inseridos -->
<div class="text-center mt-4">
    <a href="{{ url_for('view_produtos_consumidos_api') }}" class="btn btn-primary">Ver produtos inseridos</a>
</div>

{% endblock %}
