{% extends "base.html" %}
{% block content %}

<link href="./static/css/styles.css" rel="stylesheet">

<style>
    body, html {
        height: 100%; /* Define a altura total */
        margin: 0; /* Remove margens padrão */
    }

    .container {
        display: flex; /* Ativa o flexbox */
        flex-direction: column; /* Coloca os itens em coluna */
        justify-content: center; /* Centraliza verticalmente */
        align-items: center; /* Centraliza horizontalmente */
        height: 50vh; /* Ocupa 100% da altura da janela */
    }

    ul {
        list-style-type: none; /* Remove marcadores da lista */
        padding: 0; /* Remove padding */
        margin: 0; /* Remove margin */
        text-align: center; /* Centraliza o texto */
    }
    h2,h3{
        font-family: "Oswald", sans-serif;
    }

</style>

<div class="container">
    <h2>Bem-vindo, {{ session['user_email'] }}</h2>
    <h3>Selecione uma tabela para gerenciar:</h3>
    <ul>
        {% for table in tables %}
        <li><a href="{{ url_for('view_table', table_name=table) }}">{{ table }}</a></li>
        {% endfor %}
    </ul>
</div>

{% if data_html %}
<h3>Dados da Tabela:</h3>
{{ data_html|safe }}
{% endif %}

{% endblock %}
