{% extends "base.html" %}
{% block content %}
<h2>Machine Learning</h2>

<div class="form-group">
    {% if error %}
        <p class="text-danger">{{ error }}</p>
    {% endif %}

    <form method="post" class="form-inline">
        <div class="form-group mr-2">
            <label for="product" class="mr-2">Selecione o produto:</label>
            <select name="product" id="product" class="form-control">
                {% for product in products %}
                    <option value="{{ product }}" {% if product == selected_product %}selected{% endif %}>{{ product }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group mr-2">
            <label for="period" class="mr-2">Selecione o período de previsão (dias):</label>
            <input type="number" name="period" value="{{ selected_period or 30 }}" min="1" class="form-control">
        </div>

        <button type="submit" class="btn btn-success">Fazer Previsão</button>
    </form>
</div>

{% if resultados is defined %}
    {% if resultados.mae %}
        <p><strong>Erro Médio Absoluto (MAE) do modelo:</strong> {{ resultados.mae | round(2) }}</p>
    {% endif %}

    {% if resultados.fig %}
        <div class="text-center my-3">
            <img src="{{ url_for('show_image', product=selected_product, period=selected_period) }}" alt="Gráfico de Previsão de Preços" class="img-fluid shadow-lg">

        </div>
    {% endif %}

    {% if resultados.forecast is not none %}
        <h3>Previsões</h3>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Previsão</th>
                </tr>
            </thead>
            <tbody>
                {% for _, row in resultados.forecast.iterrows() %}
                    <tr>
                        <td>{{ row['Data'].strftime('%Y-%m-%d') }}</td>
                        <td>{{ row['Previsão'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% else %}
    <p class="text-warning">Nenhum resultado disponível.</p>
{% endif %}
{% endblock %}
