{% extends "base.html" %}
{% block content %}
<h2>Machine Learning</h2>

{% if error %}
    <p style="color:red;">{{ error }}</p>
{% endif %}

<form method="post">
    <label for="product">Selecione o produto:</label>
    <select name="product" id="product">
        {% for product in products %}
            <option value="{{ product }}" {% if product == selected_product %}selected{% endif %}>{{ product }}</option>
        {% endfor %}
    </select>
    
    <label for="period">Selecione o período de previsão (dias):</label>
    <input type="number" name="period" value="{{ selected_period or 30 }}" min="1">
    <button type="submit">Fazer Previsão</button>
</form>

{% if resultados is defined %}
    {% if resultados.mae %}
        <p>Erro Médio Absoluto (MAE) do modelo: {{ resultados.mae | round(2) }}</p>
    {% endif %}

    {% if resultados.fig %}
        <img src="{{ url_for('static', filename=resultados.fig) }}" alt="Previsão de Preços">
        <img src="{{ fig }}" alt="Previsão de Preços">

    {% endif %}

    {% if resultados.forecast is not none %}
        <h3>Previsões</h3>
        <table>
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Previsão</th>
                </tr>
            </thead>
            <tbody>
                {% for _, row in resultados.forecast.iterrows() %}
                    <tr>
                        <td>{{ row['Data'].strftime('%Y-%m-%d') }}</td>
                        <td>{{ row['Previsão'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% else %}
    <p>Nenhum resultado disponível.</p>
{% endif %}
{% endblock %}
