{% extends 'base.html' %}
{% block content %}
<h2>Tabela: {{ table_name }}</h2>

<style>

    thead {
        padding: 10px 15px;
        text-align: center;
    }

    th {
        text-align: center;
        font-size: 14px;
        background-color: #f8f9fa; /* Cor de fundo para cabeçalhos */
    }

    td {
        padding: 10px 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px; /* Largura máxima de 150px para células */
        border: 1px solid #000; /* Borda para visualização */
    }
</style>

<!-- Botões para download e upload -->
<div class="mb-3">
    <a href="{{ url_for('download_table', table_name=table_name) }}" class="btn btn-success">Baixar Excel</a>
</div>

<!-- Formulário para upload de arquivos -->
<form id="uploadForm" action="{{ url_for('upload_dados', table_name=table_name) }}" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">Carregar Arquivo (CSV, Excel)</label>
        <input type="file" name="file" class="form-control-file" required>
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>

<!-- Exibição da Tabela -->
<div class="table-responsive mt-3" id="tableContainer" style="max-height: 500px; overflow-y: auto;">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                {% for column in columns %}
                    <th>
                        <a href="?sort={{ column }}&order={{ 'desc' if sort_column == column and sort_order == 'asc' else 'asc' }}">
                            {{ column }}
                        </a>
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% if dados and dados[columns[0]] %}
                {% for i in range(dados[columns[0]]|length) %}
                    <tr>
                        {% for column in columns %}
                            <td>{{ dados[column][i] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="{{ columns|length }}">Nenhum resultado encontrado.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>

<!-- Paginação -->
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item {% if page == 1 %}disabled{% endif %}">
            <a class="page-link" href="?page={{ page - 1 }}&search={{ search_query }}&sort={{ sort_column }}&order={{ sort_order }}" aria-label="Anterior">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        {% if start_page > 1 %}
            <li class="page-item">
                <a class="page-link" href="?page=1&search={{ search_query }}&sort={{ sort_column }}&order={{ sort_order }}">1</a>
            </li>
            {% if start_page > 2 %}
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>
            {% endif %}
        {% endif %}

        {% for p in range(start_page, end_page + 1) %}
            <li class="page-item {% if page == p %}active{% endif %}">
                <a class="page-link" href="?page={{ p }}&search={{ search_query }}&sort={{ sort_column }}&order={{ sort_order }}">{{ p }}</a>
            </li>
        {% endfor %}

        {% if end_page < total_pages %}
            {% if end_page < total_pages - 1 %}
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>
            {% endif %}
            <li class="page-item">
                <a class="page-link" href="?page={{ total_pages }}&search={{ search_query }}&sort={{ sort_column }}&order={{ sort_order }}">{{ total_pages }}</a>
            </li>
        {% endif %}

        <li class="page-item {% if page == total_pages %}disabled{% endif %}">
            <a class="page-link" href="?page={{ page + 1 }}&search={{ search_query }}&sort={{ sort_column }}&order={{ sort_order }}" aria-label="Próximo">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

<!-- Total de Linhas -->
<p>Total de produtos encontrados: {{ total_rows }}</p>


<script>
document.getElementById('uploadForm').addEventListener('submit', function(event) {
    event.preventDefault(); // Evitar envio padrão do formulário
    
    var formData = new FormData(this);
    var confirmUpload = confirm("O arquivo contém campos não preenchidos. Deseja continuar com o upload?");
    
    formData.append('confirm', confirmUpload ? 'true' : 'false');
    
    fetch(this.action, {
        method: 'POST',
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            // Atualizar a tabela na página
            document.getElementById('tableContainer').innerHTML = data.html;
            alert(data.message);
        } else {
            alert(data.message);
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('Ocorreu um erro ao processar o upload.');
    });
});
</script>
{% endblock %}
