{% extends 'base.html' %}
{% block content %}
<h2>Tabela: {{ table_name }}</h2>

<!-- Botões para download e upload -->
<div class="mb-3">
    <a href="{{ url_for('download_table', table_name=table_name) }}" class="btn btn-success">Baixar Excel</a>
</div>

<!-- Formulário para upload de arquivos -->
<form id="uploadForm" action="{{ url_for('upload_dados', table_name=table_name) }}" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">Carregar Arquivo (CSV, Excel)</label>
        <input type="file" name="file" class="form-control-file" required>
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>

<!-- Exibição da Tabela -->
<div class="table-responsive mt-3" id="tableContainer" style="max-height: 500px; overflow-y: auto;">
    {{ data_html | safe }}
</div>

<script>
document.getElementById('uploadForm').addEventListener('submit', function(event) {
    event.preventDefault(); // Evitar envio padrão do formulário
    
    var formData = new FormData(this);
    var confirmUpload = confirm("O arquivo contém campos não preenchidos. Deseja continuar com o upload?");
    
    formData.append('confirm', confirmUpload ? 'true' : 'false');
    
    fetch(this.action, {
        method: 'POST',
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            // Atualizar a tabela na página
            document.getElementById('tableContainer').innerHTML = data.html;
            alert(data.message);
        } else {
            alert(data.message);
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('Ocorreu um erro ao processar o upload.');
    });
});
</script>
{% endblock %}
